<?xml version="1.0" encoding="utf-8"?>
<profile enabled="true">
  <Screenshots value="true" />
  <VerboseMode value="true" />
  <CreateErrorLog value="true" />
  <Browser value="BrowserHidden" />
  <OutputDirectory value="e:\Projects\Onero\Onero\bin\Debug\Results\Default" />
  <Timeout value="60" />
  <FindAllBrokenLinks value="false" />
  <FindAllBrokenImages value="true" />
</profile>

