<?xml version="1.0" encoding="utf-8"?>
<profile enabled="false">
  <Screenshots value="true" />
  <VerboseMode value="true" />
  <CreateErrorLog value="true" />
  <Browser value="Chrome" />
  <OutputDirectory value="c:\Projects\My\Onero\Onero\bin\Debug\Results\Default" />
  <Timeout value="60" />
  <FindAllBrokenLinks value="false" />
  <FindAllBrokenImages value="false" />
  <FindAllBrokenScripts value="false" />
  <FindAllBrokenStyles value="false" />
</profile>

