@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>Martin Miles</h3>

@*<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>*@

<address>
    <strong>Website:</strong>   <a href="http://onero.net">onero.net</a><br />
    <strong>Email:</strong> <a href="mailto:miles@martin.by">miles@martin.by</a>
</address>