@{ ViewBag.Title = "Data extract"; }

<h2>Data extract</h2>

<p style="margin:10px;">
    Our product for Small Business is <strong>award-winning health solution</strong> that is unique in that it helps you and your employees live a healthier lifestyle every day by rewarding you for being healthy with a variety of discounts and incentives on offer. Like other insurance, it protects your employees when things go wrong, but it also helps them lead a healthier life – meaning they don’t have to claim to be able to benefit - saving both your business and your employees money at the same time.
</p>