@{ ViewBag.Title = "Onero Page Runner - demonstration website"; }

<div class="jumbotron">
    <h1>Onero Page Runner</h1>
    <p class="lead">Onero is a free and open source tool for mass testing websites in order to provide maintainability in frequently changing websites as well as regression testing.<br/><br/>
        <a href="/home/about">Read more  how to use it</a><br /><br />
    </p>
    <p><a href="/dist/Onero.zip" class="btn btn-primary btn-lg"><b></b>Download Onero &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Field support</h2>
        <p>
            All the supported fields are presented on a page in order to be verified.
            Not each of them is supported across all browsers, please see limitations.
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="/Home/SupportedFields/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Identify broken links</h2>
        <p>This page aims to demonstrate how onero works out broken links, images, scripts and styles on the page.</p>
        <p><a class="btn btn-default" href="/Home/BrokenLinks/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Data extract</h2>
        <p>Sample page to demonstrate how Onero performs data extraction.</p>
        <p><a class="btn btn-default" href="/Home/DataExtract/">Learn more &raquo;</a></p>
    </div>
</div>

<div>
	<iframe width="547" height="284" src="https://www.youtube.com/embed/fkK_1iZE-G4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>